body {
    font-family: Arial;
    width: 70%;
    margin: 0 auto;
}

.categoria, .producto, .item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.boton {
    background: #0099cc;
    padding: 8px;
    color: white;
    text-decoration: none;
}

